body {
    font-family: Arial, sans-serif;
    background-color: #7d70d4;
    margin: 0;
    padding: 0;
}

.container {
    width: 25%;
    margin: 50px auto;
    background-color: #ebf3ef;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px #0a040420;
    text-align: 20px; /* Align text to the left */
}

h1 {
    font-size: 24px;
    color: #333;
}

.form-group {
    text-align: left; /* Aligns the input fields and labels to the left */
    margin: 20px 0;
}


label {
    display: block;
    font-size: 18px;
    margin-bottom: 2px;
    color: #666;
}

input[type="number"] {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
    border: 1px solid #3412dc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}

footer p {
    margin: 0;
}